In [1]:
range(5)

range(0, 5)

In [4]:
for i in range(5):
    print(i)

0
1
2
3
4

In [5]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [6]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [7]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [8]:
#strings 

str='kunal chopde'

for  i in str:
    print(i)

k
u
n
a
l

c
h
o
p
d
e

In [11]:
## while loop 

# the while loop continues to execute as long as the condtion is  true 

count=0

while count<5:
    print(count)
    count=count+1

0
1
2
3
4

In [12]:
#loop control statements

#break 
# the break statement exits the loop prematurely

for i in range(0,5):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [19]:
#continue

## The continue statement skips current statement and continues with the next 

for i in range(10):
    if i%2:
        continue
    print(i)

0
2
4
6
8

In [17]:
## pass 

for i in range(10):
    if i==3:
        print("this  is ",i)
        pass
    print(i)

0
1
2
this  is  3
3
4
5
6
7
8
9

In [22]:
#nested loop

for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [25]:
## Examples

n=10
sum=0
count=1

while count<=n:
    sum=sum+count
    count=count+1

print("sum of all ten natural numbers",sum)

sum of all ten natural numbers 55

In [27]:

n=10
sum=0


for i in range(11):
    sum=sum+i

print(sum)

55

In [37]:
#prime number between 1 and 100

for num in range(1,101):
    if num>1:
        for i in range(2,num):
           if num%i==num+0:
               break
        else:
            print(num)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100